{% extends "layout.html" %}

{% block title %}
    Edit Portfolio
{% endblock %}

{% block main %}
    <div class="card">
        <h1>Edit Portfolio</h1>

        <form action="/edit" method="post">
            <div class="mb-3">
                <label for="amount" class="form-label">New Balance</label>
                <input type="number" class="form-control" id="amount" name="amount" min="0" required>
            </div>
            <div class="mb-3 ps-2">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="reset_portfolio" name="reset_portfolio" value="true">
                    <label class="form-check-label" for="reset_portfolio">Reset Portfolio</label>
                </div>
            </div>
            <button type="submit" class="btn btn-danger">Set Balance</button>
        </form>
    </div>
{% endblock %}