{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h2>Transaction History</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Type</th>
                <th scope="col">Sender</th>
                <th scope="col">Receiver</th>
                <th scope="col">Symbol</th>
                <th scope="col">Amount</th>
                <th scope="col">Unit Value</th>
                <th scope="col">Total Value</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for event in history %}
                <tr>
                    {% for element in event %}
                    <td>{{ element }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}