{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}

    {% if quote["found"] == 1 %} <!-- Stock is found -->
        <h1>{{ quote["company_name"] }} ({{ quote["symbol"] }})</h1>

        <strong>Current Price:</strong> {{ quote["price"] | usd }}
        <br>
        <strong>Change:</strong> {{ quote["change"] | usd }}
        <br>
        <strong>Percent Change:</strong> {{ quote["percent_change"] }}%
        <br>
        <strong>Day High/Low:</strong> {{ quote["day_high"] | usd }}/{{ quote["day_low"] | usd }}
        
        <br><br><br>


        <div class="tradingview-widget-container-wrapper">
            <div class="tradingview-widget-container">
                <div class="tradingview-widget-container__widget"></div>
                <div class="tradingview-widget-copyright">
                    <a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank">
                        <span class="blue-text">Track all markets on TradingView</span>
                    </a>
                </div>
                <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-advanced-chart.js" async>
                    {
                    "width": "980",
                    "height": "610",
                    "symbol": "{{ quote['symbol'] }}",
                    "interval": "5",
                    "timezone": "Etc/UTC",
                    "theme": "dark",
                    "style": "1",
                    "locale": "en",
                    "hide_legend": true,
                    "hide_side_toolbar": false,
                    "allow_symbol_change": false,
                    "calendar": false,
                    "support_host": "https://www.tradingview.com",
                }
                </script>
            </div>
        </div>        
        

        <br><br><br>

        <h5 class="graph"><a href="https://finance.yahoo.com/quote/{{ quote['symbol'] }}">Check graph</a></h5>
        {% else %} <!-- Lookup the stock instead -->
        <h1>Stock Lookup</h1>
        <br>
        {% for result in quote["results"] %}
            <a href="/quoted?symbol={{ result['symbol'] }}"><h5>{{ result["description"] }} - {{ result["symbol"] }}</h5></a>
        {% endfor %}
    {% endif %}
    <br>
    <a href="/quote" class="btn btn-primary">Quote Another Stock</a>

{% endblock %}