{% extends "layout.html" %}

{% block title %}
    Settings
{% endblock %}

{% block main %}
<div class="card mx-auto" style="max-width: 600px; padding: 20px;">
    <h1>Settings</h1>

    <h3>Profile</h3>
    <p>First Name: {{ profile["first_name"] }}</p>
    <p>Last Name: {{ profile["last_name"] }}</p>
    <p>Username: {{ profile["username"] }}</p>

    <br>

    <h3>Preferences</h3>
    <button class="btn btn-outline-secondary mb-3" id="theme-toggle">Toggle Theme</button>

    <br>

    <h3>Other</h3>
    <form action="/logout" method="POST" class="mb-2">
        <button class="btn btn-warning w-100" type="submit">Log Out</button>
    </form>
    <form action="/delete_account" method="POST">
        <button class="btn btn-danger w-100" type="submit">Delete Account</button>
    </form>
</div>

{% endblock %}