{% extends "layout.html" %}

{% block title %}
    Settings
{% endblock %}

{% block main %}
    <style>
        .left_align {
            text-align: left;
        }
    </style>

    <h1>Settings</h1>

    <h3 class="left_align">Profile</h3>
    <div class="left_align">First Name: {{ profile["first_name"] }}</div>
    <div class="left_align">Last Name: {{ profile["last_name"] }}</div>
    <div class="left_align">Username: {{ profile["username"] }}</div>

    <br>

    <h3 class="left_align">Preferences</h3>
    <div class="left_align">
        <!-- Checkbox; confirmation modal for buying/selling stocks -->
        <label for="buyConfirmation">Buy Confirmation</label>
        <input type="checkbox" id="buyConfirmation">
        <br>
        <button class="btn btn-dark" id="theme-toggle" onclick="toggleTheme()">Toggle theme</button>
    </div>

    <br>

    <h3 class="left_align">Other</h3>
    <form class="left_align" action="/logout">
        <button class="btn btn-warning" type="submit">Log Out</button>
    </form>
    <br>
    <form class="left_align" action="/delete_account">
        <button class="btn btn-danger" type="submit">Delete Account</button>
    </form>

    <script>
        // THEME SECTION
        document.getElementById('theme-toggle').addEventListener('click', function() {
            let body = document.body;
            if (body.classList.contains('light-mode')) {
                body.classList.remove('light-mode');
                body.classList.add('dark-mode');
            } else {
                body.classList.remove('dark-mode');
                body.classList.add('light-mode');
            }

            // Save the preference in localStorage
            localStorage.setItem('theme', body.classList.contains('dark-mode') ? 'dark' : 'light');
        });

        // CONFIRMATION MODAL SECTION
        const buyConfirmationCheckbox = document.getElementById('buyConfirmation');

        // Load the saved setting from localStorage when the page loads
        window.addEventListener('load', () => {
            const buyConfirmationEnabled = localStorage.getItem('confirmModal');
            
            // Set the checkbox state based on the stored value
            if (buyConfirmationEnabled === 'true') {
                buyConfirmationCheckbox.checked = true;
            } else {
                buyConfirmationCheckbox.checked = false;
            }
        });

        // Listen for changes to the checkbox
        buyConfirmationCheckbox.addEventListener('change', (event) => {
            // Save the current state to localStorage
            const isChecked = event.target.checked;
            localStorage.setItem('confirmModal', isChecked.toString());
        });
    </script>
{% endblock %}